div.site-bar {
    background-color: #555;
    color: white;
    line-height: 1.75em;
    border-top: 1px solid #333;

    p {
        margin-left: 4em;
        font-weight: normal;
    }
}

@media (max-width: 800px) {
    div.site-bar {
        display: none
    }
}