h2 {
    margin-left: 1.5em;
}

#check-today {
    display: flex;
    align-items: center;

    .name {
        margin-left: .5em;

        p {
            font-size: 1.2em;
            padding-bottom: .3em
        }

    }

div.days {
    display: flex;
    padding-bottom: 1em;

    div.day {
        color: white;
    }

div.day:hover {
    filter: brightness(125%);
}

    // div.value0 {
    //     background-color: rgb(199, 35, 35);
    // }
    // div.value1 {
    //     background-color: rgb(233, 159, 48);
    // }
    // div.value2 {
    //     background-color: rgb(230, 226, 38);
    // }
    // div.value3 {
    //     background-color: rgb(99, 196, 34);
    // }
    // div.value4 {
    //     background-color: rgb(50, 123, 233);
    // }
    // div.value5 {
    //     background-color: rgb(110, 54, 212);
    // }
    // div.value6 {
    //     background-color: rgb(80, 80, 80);
    // }
    // div.today {
    //     margin: 0 4px;
    //     position: relative;
    // }
    div.none {
        display: none
    }
}
}