h2 {
    margin-left: 1.5em;
}

#check-today {
    display: flex;
    align-items: center;

    .name {
        margin-left: .5em;

        p {
            font-size: 1.2em;
            padding-bottom: .3em
        }
    }

div.days {
    div.none {
        display: none
    }
}
}