<div class="card">
    <h2>Nie wiesz, jak masz to zrobić?</h2>
    <div class="content">
      <p>
        Aby osiągnąć sukces w swoim postanowieniu, powinieneś codziennie się z nim stykać, w pewien sposób raportując, czy tego konkretnego dnia udało Ci się zrealizować cel, czy też nie. Doskonałą techniką jest oznaczanie kolorem komórki odpowiadającej dniu miesiąca w zależności od przebiegu dnia.
      </p>
      <p>
          HabiTracker proponuje Ci aż kilka możliwości takiego kolorowania, pozwalając na gradację celu (np. kolor żółty - cel zrealizowany w połowie, kolor niebieski - w 120%), a ponadto śledzi Twoje postępy, obrazując je na wykresie.
      </p>
    </div>
  </div>