@import './../../shared/stylesheet/mixins.less';

div.habit-title {
    
    span.additional-values {
        b {
            font-size: 80%;
        }
    }
}

div.showed-details div.days {
    display: flex;
    padding-bottom: 1em;

    div.day {
        display: flex;
        .center;
        padding: .2em 0;
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    div.days {
        flex-wrap: wrap;
        padding-bottom: 0;
    
        div.day {
            flex-basis: calc(100%/14);
            margin-bottom: .25em
        }
    
        div.day:hover {
            filter: brightness(110%);
        }
    }
}

@media (max-width: 600px) {
    div.days {
    
        div.day {
            flex-basis: calc(100%/7);
            margin-bottom: .1em
        }
    }
    .challenges {
        margin-bottom: .5em;
        flex-wrap: wrap;

        .challenge {
            flex-basis: 100%;

        }
    }
    div.showed-details {
        .details-buttons {
            bottom: 0;
            right: 0;
        }
    }
}