<div class="container">
  <div class="content">
    <h1 class="title">HabiTracker</h1>
    <form class="log-in">
      <input [(ngModel)]="login" name="login" type="text" id="inputEmail" class="log-in__login" placeholder="login">
      <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="log-in__pass" placeholder="hasło" >
      <p *ngIf="showValidationProblem">Podane dane są nieprawidłowe</p>
      <button (click)="onSubmit()" type="submit">Zaloguj się</button>
    </form>
    <div class="admin-info">
      <p>login: admin</p>
      <p>hasło: 1234</p>
    </div>
  </div>
</div>