@import './app/shared/stylesheet/variables.less';
@import './app/shared/stylesheet/mixins.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tw Cen MT, sans-serif;
}

body {
    background-image: url(assets/img/confectionary.png);

    h2 {
        font-weight: normal;
        margin-bottom: .25em;
        margin-left: .5em;
    }
    p {
        font-family: carlito;
    }
    span {
        font-family: carlito;
    }
}

.card__title {
    margin-left: 1.5em;
    margin-top: 1em
}


.container {
    padding: 2em 0em;
    margin: 0 auto;
    max-width: 1200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px #eee;
}

.content {
    padding: 1em 2em;
    border-bottom: #eee solid 1px;
    background-color: #fff;

    &:nth-child(even) {
        background-color: #fbfbfb;
    }

    p {
        margin-bottom: .5em;
        font-size: 1.1em;
    }
}

.habit-title {
    margin-bottom: .5em;
    font-size: 1.25em;
    position: relative;

    &__bar {
        position: absolute;
        right: 1%;
        top: 1%;
    
        img {
            height: 1em;
            transition: .3s;
    
            &:hover {
                transform: rotate(90deg);
            }
            &.active {
                transform: rotate(90deg);
            }
        }
    }

    b {
        background-color: transparent;
    }
}

.details {
    transition: .3s;

    * {
        display: none;
        opacity: 0;
        transition: opacity 0.5s linear;
    }
}

.showed-details {
    position: relative;
    padding-bottom: 1em;

    * {
        display: block;
        opacity: 1;
    }

    .challenges {
        display: flex;
    }

    .details-buttons {
        position: absolute;
        display: flex;
        bottom: 1%;
        right: 1%;

        .detail-button img {
            height: 1em;
            display: flex;
            margin-left: .5em;
            margin-right: .5em;
            transition: .2s;

            &:hover {
                height: 1.2em;
            }
        }
    }
}

.days {
    display: flex;
    padding-bottom: 1em;

    .day {
        color: white;
    }

    .day:hover {
        filter: brightness(110%);
    }
}


.day {
    display: flex;
    .center;
    padding: .2em 0;
    width: 2.5em;
    height: 2.5em;
    border: 1px #fff solid;
    background-color: #ccc;
    color: white;
    cursor: pointer;
}

.value0 {
    color: @value0-color;
    background-color: @value0-color
}
.value1 {
    color: @value1-color;
    background-color: @value1-color
}
.value2 {
    color: @value2-color;
    background-color: @value2-color
}
.value3 {
    color: @value3-color;
    background-color: @value3-color
}
.value4 {
    color: @value4-color;
    background-color: @value4-color
}
.value5 {
    color: @value5-color;
    background-color: @value5-color
}
.value6 {
    color: @value6-color;
    background-color: @value6-color
}

b {
    font-size: 125%;
}

.today {
    position: relative;
    border-radius: 50%;
    font-weight: bold;
}

.description {
    background-color: #fcfcfc;
    padding: 0.5em 0;
    margin-bottom: .5em;
    border-bottom: #eee 1px dotted;
    border-top: #eee 1px dotted;

}

@media (max-width: 800px) {
    div.container {
        padding: .5em 0;

        div.content {
    
            p {
                font-size: 1em;
            }
    }
}
}

@media (max-width: 600px) {
    div.container {

        div.content {
            padding: .5em;
    }
}
}